 *{
     margin: 0;
     box-sizing: border-box;
     width:100%;
 }
 :root{
     font-size: 62.5%; /* 1rem = 10px */
     --primary-color: hsla(209, 77%, 43% );
     --headline: hsla(205, 100%, 5% );
     --paragraph: hsla(204, 16%, 24% );
     --brand-beige:hsla(204, 100%, 97%);
    --brand-light: hsla(206, 100%, 91%);

 }

body{
    font-family: 'Nunito Sans', sans-serif;
    align-items: center;
    text-align: center;

    
}
header{
    width:37.5rem;
    margin-inline: auto;
    margin-top:4.1rem;
}

h3{
    font-size:1.5rem;
    color:var(--primary-color);
    margin-bottom: 1.6rem;
    
}
h1{
    font-size:3.4rem;
    color:var(--headline);
    line-height: 130%;
    margin-bottom: 2.4rem;
}
p{
    font-size:1.8rem;
    line-height:150%;
    color:var(--paragraph);
    margin-bottom :3.2rem;

}
button{
    background-color:var(--primary-color);
    border:none;
    border-radius:4rem;
    margin-bottom: 6rem;
    height:6.2rem;
    width:26.3rem;
    font-family: 'Nunito Sans';
    color:white;
    font-size:1.4rem;
    line-height: 1.8rem;
    text-transform: uppercase;
    box-shadow: 0.2rem 0.4rem  0 var(--paragraph);
    cursor:pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
    margin-left: auto;
    margin-right: auto;
  


}

.imagemPrincipal{
    width:40rem;
    height:40rem;
    display: flex;
    align-items: center;
    object-position: 0 2rem;
    

}
header::before{
    content: "";
    width:100vw;
    height:108rem;
    background-color:var(--brand-light);
    ;
    display: block;
    position:absolute;
    top:0;
    left:0;
    z-index: -1;


}

.Informacoes{
    width:32.7rem;
    height:70rem;
    margin-left:auto;
    margin-right: auto;
    background-color: var(--brand-beige);
    display:flex;
    flex-direction: column;
    justify-content: center;
   
}
.dados img {
   width:10rem;
   margin-left:auto;
   margin-right: auto;
   
   padding-top:1rem;
   

   
}
.dados p{
    margin-bottom:2rem;
    padding-top:1rem;
}
.dados .titulo  {
     margin-top:1rem;
     font-size:3rem;
}
.logo{
    background-color: var(--brand-light);
}