*{
    margin: 0;
    box-sizing: border-box;
    width:100%;
}
:root{
    font-size: 62.5%; /* 1rem = 10px */
    --primary-color:hsl(209, 77%, 43%);
    --headline: hsla(205, 100%, 5% );
    --paragraph: hsla(204, 16%, 24% );
    --brand-beige:hsla(204, 100%, 97%);
    --brand-light: hsla(206, 100%, 91%);
    --nav-height:11rem;
}
body{
    background-color: var(--primary-color);
}
h2{
    text-align: center;
    padding: 2rem;
    font-size:4rem;
    color: var(--headline);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}
header{
    height:6rem;
    width:100vw;
    position:fixed;
    top:0;
    background-color:var(--brand-beige);
}
a{
    text-decoration: none;
    font-size: 3rem;
    color: var(--primary-color);
    font-family: Arial, Helvetica, sans-serif;
}
.conteudo{
    display:flex;
    
}
.formulario{
    width: 70rem;
    padding:10rem;
    margin: 10rem 0 0 10rem;
    background-color: var(--brand-light);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5rem;
   
}
.formulario-info{
 font-family: Arial, Helvetica, sans-serif;
 /* font-size: 2rem;
 font-weight: 600; */
 color:var(--paragraph);
 text-transform: uppercase;
 padding:1rem;

}
.formulario-info input {
    border-radius:10px;
    padding: 1rem;
    /* width: 38rem;
    height: 3.3rem;
    border:none;
    display: flex;
    
    justify-content: center;

    border-radius:5rem; */
    outline:  inset var(--paragraph);
}
.botao{
    padding:2rem;
    width:40rem;
    border:none;
    /* margin-left: 7rem; */
    margin-inline:auto;
    border-radius: 5rem;
    background-color: var(--primary-color);
    color:white;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 500;
}
.botao:hover{
    background-color: black;
    cursor: pointer;
}
.imagemPrincipal{
    width:70rem;
    height:60rem;
    margin: 6rem 0 0 30rem;
}
.mensagem{
    display:none;
}
