*{
    margin: 0;
    box-sizing: border-box;
    width:100%;

}
:root{
    font-size: 62.5%; /* 1rem = 10px */
    --primary-color:hsl(209, 77%, 43%);
    --headline: hsla(205, 100%, 5% );
    --paragraph: hsla(204, 16%, 24% );
    --brand-beige:hsla(204, 100%, 97%);
    --brand-light: hsla(206, 100%, 91%);
    --nav-height:11rem;
}
/* -----estilos gerais----- */

body{
   font-family: 'Nunito Sans', sans-serif;
   align-items: center;
   text-align: center;
   

   
}
a{
   text-decoration: none;
}
ul{
    list-style: none;
    padding:0;
}
/* -----estilo do background inicial----- */
section::before{
   content: "";
   width:100vw;
   height:calc(115rem + var(--nav-height));
   background-color:var(--brand-light);
   display: block;
   position:absolute;
   top:0;
   left:0;
   z-index: -1;


}
/* ------navegação-------- */
nav{
   display:flex;
   align-items:center;
   position:fixed;
   /* padding:2rem 0 ; */
   top:0;
   left:50%;
   transform:translateX(-50%);
   height: var(--nav-height);

  
 
}

nav svg{
   width:10rem;
   
}
nav img{
   width:16rem;

}


nav.scroll{
   background-color:var(--primary-color);
   width:100vw;
  
  
}
/* ----titulo, subtitulo e textos---- */
section{
   width:37.5rem;
   margin-inline: auto;
   margin-top:calc(5.1rem + var(--nav-height)) ;
}

section h3{
   font-size:1.5rem;
   color:var(--primary-color);
   margin-bottom: 1.6rem;
   
}
section h1{
   font-size:3.4rem;
   color:var(--headline);
   line-height: 130%;
   margin-bottom: 2.4rem;
}
section p{
   font-size:1.8rem;
   line-height:150%;
   color:var(--paragraph);
   margin-bottom :3.2rem;

}
/* -----botão------- */
section button{
   background-color:var(--primary-color);
   border:none;
   border-radius:4rem;
   margin-bottom: 6rem;
   height:6.2rem;
   width:26.3rem;
   font-family: 'Nunito Sans';
   color:white;
   font-size:1.4rem;
   line-height: 1.8rem;
   text-transform: uppercase;
   box-shadow: 0.2rem 0.4rem  0 var(--paragraph);
   cursor:pointer;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 1.6rem;
   margin-left: auto;
   margin-right: auto;
  
 


}
button.botaoMatricula:hover{
   background-color: var(--brand-beige);
   color: var(--paragraph);
}

/* ----desenho da menima em pose lotus--- */
.imagemPrincipal{
   width:40rem;
   height:40rem;
   display: flex;
   align-items: center;
   object-position: 0 2rem;
   
}
/* ----box de informaçoes--- */
.Informacoes{
   width:32.7rem;
   height:72rem;
   margin-left:auto;
   margin-right: auto;
   background-color: var(--brand-beige);
   display:flex;
   flex-direction: column;
   justify-content: center;
   border-radius: 2rem;
  
}
.dados img {
  width:10rem;
  margin-left:auto;
  margin-right: auto;
  
  padding-top:1rem;
  

  
}
.dados p{
   margin-bottom:2rem;
   padding-top:1rem;
}
.dados .titulo  {
    margin-top:1rem;
    font-size:3rem;
}
/* --------icones mudam de cor quando desce a pagina ---- */
.scroll svg :nth-child(1){
fill: #fff;
stroke: #fff;
}
.scroll svg :nth-child(2){
   fill: #fff;
   stroke: #fff;
}
   
 /* --------menu------- */
 

body section{
   overflow:hidden;
 }

.botaoMenu{
   background-color: transparent;
   border-style: none;
   cursor:pointer;
   
  }

.menu-show{
 display: flex; 
}
.menu-hide{
   display:none;
}
.menu{
   position:fixed;
   top:0;
   left:0; 
   background-color:var(--primary-color);
   height: 100vh;
   width: 100vw; 
   flex-direction: column;
   align-items: center;
   
}

.menu-desck{
   display: none;
}

.menu-desck ul{
   display: flex;
   align-items: center;
   margin: 0 10rem 0 0;


}
.menu-desck a {
   text-decoration: none;
   color: var(--primary-color);
   font-family: 'Nunito Sans';
   font-weight: 700;
   font-size:2rem;

}
.menu-desck a:hover{
   border-bottom: 0.2rem solid var(--primary-color);
   padding-bottom:1rem;
}

.menu-desck button{
   background-color:transparent ;
   border:none;
   border:0.2rem solid var(--primary-color);
   padding:2rem;
   border-radius: 4rem;
   font-family: 'Nunito Sans';
   color:var(--primary-color);
   text-transform: uppercase;   
}
.menu-desck button:hover{
   transition: 0.7s;
   color: white;
   cursor: pointer;
   background-color:var(--primary-color);
   }

.menu ul:nth-child(2){
   display:flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap:4.8rem;
   margin-top:7.9rem;
   font-family: 'Nunito Sans';
   font-weight: 700;
   font-size:2.4rem;
   line-height:3.12rem;
   
}
.menu ul:nth-child(3){
   display:flex;
   margin-top: 5rem;  
}
.menu ul li a{
   text-decoration: none;
   color:white;
}

.menu .botaoInsideMenu{ 
  background-color:white;
  border:none;
  height:6.2rem;
  width:26.3rem; 
  margin: 0 5.1rem 0 5rem;
  border-radius:4rem;
  font-family: 'Nunito Sans';
  font-weight: 700;
  text-transform: uppercase;
  color:var(--primary-color);
  box-shadow: 0.2rem 0.4rem  0 var(--paragraph);
  margin-left:auto;
  margin-right:auto;  
}
.closeMenu{
   border: none;
   background-color:transparent;
   display:flex;
   align-items: center;
   justify-content: center;
   margin-top: 5rem;
   cursor:pointer;
}
/* -----Cards-------- */
.card{
   background-color:var(--brand-beige);
   padding-top:5rem;
   padding-bottom:5rem;
   padding-inline: 1rem;
   border-radius: 4rem;
   margin-bottom: 3rem;  
   height: 70rem; 
}

.card img{
   border-radius: 3rem;
   box-shadow: 0 0.3rem 0.5rem 0 rgba(0,0,0,.6) ;
}
span{
   font-family: 'Nunito Sans';
   text-transform: uppercase;
   color:var(--paragraph);
   font-size:1.5rem;
   margin-bottom:1rem;
}
h2{
   font-size:3.5rem;
   line-height:150%;
   color:var(--paragraph);
   margin-bottom :3.2rem;
}
h4{
   font-family: 'Nunito Sans';
   font-size:3rem;
   color:var(--primary-color);
   margin-bottom:1rem;
}
.card p{
   margin-top: 2rem;
}
/* -------Rodapé------- */
footer {
   background-color:var(--primary-color);
   display:flex;
   align-items: center;
   justify-content: space-between;
   height:10rem;
   width:100%;
   margin-left: auto;
   margin-right: auto;
}
footer p{
   font-family: 'Nunito Sans';
   text-transform: uppercase;
   color:white;
   font-size:1.5rem;
   
}
footer.midiasSociais{
   display:flex;
   flex-direction: column;
}


/* ------ media query ----- */
@media screen and (min-width:76.8rem){
 section {
    display:flex;
    width: 100vw;
 }

 .menu-desck{
    display: flex;
   
 }

 section{
    flex-direction: column;
 }
 
footer{
    margin-top:5rem;
 }
 .cards{
    display:flex;
    width:100%;
    flex-direction: column;
 }
 .cards-box{
    display:flex;
    align-items: center;
    justify-content: space-around;
 }
 .card{
    width:50rem;
    margin: 0 0.9rem;
    height: 70rem;
 }

 .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
   
   
 }

 .Informacoes{
    width: 80%;
    height: 58rem;
    margin:0 auto;
 }

 .botaoMenu{
    display: none;
 }
.menu-show{
   display: none;
}

.scroll button{
   background-color:transparent;
   border:none;
   border:0.2rem solid white;
   padding:2rem;
   border-radius: 4rem;
   font-family: 'Nunito Sans';
   font-weight: 700;
   text-transform:uppercase;
   color:white;

}
.scroll a{
   text-decoration: none;
   color:white;
   font-family: 'Nunito Sans';
   font-weight: 700;
   font-size:2rem;
}
.scroll a:hover{
   border-bottom: 0.2rem solid white;
   padding-bottom:1rem;
}
.scroll button:hover{
   transition: 0.7s;
   color: var(--primary-color);
   cursor: pointer;
   background-color:white;
}
.conteudo{
   margin:0 25rem;
   width:25%;
    
}
.navigation{
   display:flex;
   justify-content:space-between;
}
.menu-desck li + li{
  margin:0;
}
} 